<div class="container">
  <div class="urls">
    <div class="urls-item">
      1
    </div>
    <div class="urls-item">
      1
    </div>
    <div class="urls-item">
      1
    </div>
  </div>
</div>