<div class="container">
  <div class="urls">
    <% @articles.map do |_, article| %>
      <%if not article.empty? %>
        <%= render partial: "list", locals: { title: article.first.target.name, icon: article.first.target.icon, articles: article } %>
      <% end %>
    <% end %>
  </div>
</div>