<div class="container">
  <div class="urls">
    <div class="urls-item">
      <h3>掘金</h3>
      <ul>
        <% @articles['juejin'].each do |article| %>
          <li><a href=""><%= article.title %></a></li>
        <% end %>
      </ul>
    </div>
    <div class="urls-item">
      1
    </div>
    <div class="urls-item">
      1
    </div>
    <div class="urls-item">
      2
    </div>
  </div>
</div>