<div class="container pt-5 pb-3">
  <a href="/" class="logo d-inline-flex align-items-center">
    <svg class="me-2" width="38" height="38" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path fill="#E05745" d="M0 0h38v38H0z"/><text fill-rule="nonzero" font-family="PingFangSC-Semibold, PingFang SC" font-size="26" font-weight="500" fill="#FFF"><tspan x="9" y="28">U</tspan></text></g></svg>
    <span>URLSPUB</span>
  </a>
</div>
<div class="container">
  <div class="urls">
    <% @articles.map do |_, article| %>
      <%if not article.empty? %>
        <%= render partial: "list", locals: { target: article.first.target, articles: article } %>
      <% end %>
    <% end %>
  </div>
</div>